---
layout: page
title: Welshimer Wheels
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Welshimer Wheels<br> Mobile Bicycle Repair</h1>
          <p class="animated fadeInUp">We are a full service Bicycle Repair Shop<br> & We Make House Calls</p>
          <p class="call">Call: 208.899.9398 or 208.466.1818</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Welcome</h2>
            <p>Cycling is a great way to exercise, socialize, maintain one's health and see the great sights in Idaho and elsewhere. At the same time, cycling is an endeavor to be taken seriously. A mechanical malfunction can create potentially serious safety issues. At the least, a breakdown can put a damper on a blue-sky day.</p>
          </div>
          <p>Welshimer Wheels, llc, mobile bicycle repair, was started in 2004 to help others enjoy cycling like I do. I also recognize that people working 8-5 often don't have the time or the means to get their bicycle to a bike shop. That often translates into a forlorn two-wheeler languishing in a shed or a garage.</p>
          <p>When customers call and ask when I'm open, I tell them, "I'm open unless I'm pedaling myself or sleeping." One customer replied that he left work at 6:20 a.m. I picked up his bike at 6:10 a.m. He arrived home from work at 6:30 p.m. I dropped his bike off at 6:45 p.m. so he could use it on the trainer that night.</p>


        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Safety</h2>
      <p>Safety is a priority at Welshimer Wheels. With a tune up, you are guaranteed that I use torque wrenches to check components. A torque wrench is the only way to insure that each bolt is tightened to the proper specifications. An over-tightened bolt can create safety issues just like a loose bolt.</p>
      <p>
        I treat a bicycle for what it is, a human-powered vehicle. It is not a toy. Whether you ride in your subdivision or across the country, a properly operating bike will make cycling an enjoyable experience. It increases the odds that you'll do more of it.
      </p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Educating about Cycling is our passion</h2>
        <p>
          One of my goals is to assist people in learning more about cycling; enjoying the fantastic lifetime hobby of cycling. Topics range from emergency repairs, nutrition, different types of bikes, regular maintenance, racing, touring, introducing children to cycling etc.
          I enjoy telling customers that regardless of how much they choose to spend on bicycles, maintenance and products, it is a bargain compared to poor health/medical bills. The typical American who cycles even 30 minutes a day will cut their medical costs by more than 50 percent. And the bonus: they'll enjoy doing it!</p>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Mobile Service is our Specialty</h2>
          <p>In addition to picking up your bike and bringing it to the shop for major repairs, Welshimer Wheels also brings the 'shop' to you, whether that means working on your bike at your home or place of work.</p>
          <p>I tell customers I drive so that they can ride as soon as possible.</p>
          <p>
            In addition to bringing the bicycle repair service to your door, Welshimer Wheels also offers a full line of bike parts and accessories. Click on <a href="https://www.bti-usa.com">www.bti-usa.com</a> to view more than 12,000 cycling items that I can order for you. The website allows you to see what items are in stock, from full bikes to wearing apparel.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!-- section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section -->
