<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about_me">About Me</a></li>
            <li><a href="{{ site.baseurl }}/links">Links</a></li>
            <li><a href="{{ site.baseurl }}/bike_maintenance">Maintenance</a></li>
            <li><a href="{{ site.baseurl }}/services">Services</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <ul class="footer-address-block">
          <li>
            <i class="fa fa-map-marker"></i>5320 E. Lewis Lane, Nampa, ID
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>tylerwelshimer@gmail.com
          </li>
          <li>
            <i class="fa fa-phone"></i>208.899.9398 or 208.466.1818
          </li>
        </ul>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
